extends layout

block content
  h1= title
  p Welcome to #{title}
  .wrapper
    form.loginform(action='login()', name='loginForm')
      div
        label(for='username')
          | Username
        input(name='username', type='text')
      div
        label(for='password')
          | Password
        input(name='password', type='password')
      div
        button.btn Submit
  br
  .googleoAuth
    a(href="/google") 
     | Login Using Google
  br
  .googleoAuth
    a(href="/facebook") 
     | Login Using Facebook         